html > body svg {
    max-width: 100px;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: 70px 1fr;
    grid-template-areas: "h h h h h h h h h h h h"
    "c c c c c c c c c c c c";
    height: 100vh;

}
:root {
    --rounded-1 : 10px ; 
    --rounded-2 : 15px ; 
    --rounded-3 : 20px ; 

    --border-silver : solid 1px rgb(49, 49, 49) ; 
    
    --c-dark : rgb(46, 46, 46) ; 
    --c-red : rgb(255, 32, 32) ; 

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--rounded-1) var(--rounded-2);
    grid-area: h;
   
}
header button {
    width: 50px;
}

header .user-details {
    display: flex;
    align-items: center;

}
header .user-details button {
    width: 45px;
    background-color: black;
    fill: white;
    border: none;
    border-radius: 100%;
    margin: 0 5px;
    padding: 10px ;
    transition: .3s ease;
}
header .user-details button:hover {
    transition: .3s ease;
    background-color: var(--c-dark);
}
header .user-details button img {
    border-radius: 100%;
}
header .user-details #user:hover {
    background-color: black;
}

header .search {
    display: flex;
    align-items: center;
    
}
header .search .input-search {
    display: flex;
    align-items: center;
}
header .search button {
    height: 37px;
    border: none;
    padding: 5px;
    background-color: var(--c-dark);
    fill: white;
    border-top-left-radius: var(--rounded-2);
    border-bottom-left-radius: var(--rounded-2);
}
header .search .input-search input {
    width: 500px;
    height: 37px;
    background-color: black;
    border: var(--border-silver);
    padding-left: var(--rounded-1);
    color: #eee;
    border-top-right-radius: var(--rounded-2);
    border-bottom-right-radius: var(--rounded-2);

}
header .search .input-search input:focus {
    outline: none;
}
header .logo {
    padding: var(--rounded-3);
}



#list-dropdown {
    width: 600px;
    border-radius: var(--rounded-2);
    background-color: var(--c-dark);
    
}
#list-dropdown-users {
    width: 200px;
    border-radius: var(--rounded-2);
    background-color: var(--c-dark);
}
#list-dropdown li a:hover  , 
#list-dropdown-users li a:hover
 {
    background-color: #4e4e4e;
    
}

.dropdown-menu.users li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: var(--rounded-2);
}
.dropdown-menu.users li img {
    width: 50px;
    
}
.dropdown-menu.users li a svg {
    fill : white ;
}
.dropdown-menu.noti {overflow-y: scroll;max-height: 550px;}
.dropdown-menu.noti li a {
    display: flex;
    
    overflow-x: hidden;
    justify-content: space-between;
}
.dropdown-menu.noti li {
    list-style-type: none;
}
.dropdown-menu.noti li a img {
    width: 20%;
}
.dropdown-menu.noti li a .notify-content {
    width : 60% ; 
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    padding: 10px;
    font-size: 18px;
    text-transform: capitalize;
}
.dropdown-menu.noti li a .content-image {
    border-radius: var(--rounded-1);
}
.dropdown-menu.noti li a .channel-image{
    border-radius:100% ; 
}
.dropdown-menu.noti li .notify-title {
    color: white;
    font-size: 20px;
    text-align: center;

}
.vali {
    grid-area : c;
    border: var(--border-silver);
    display: flex;
    justify-content : center ; 
    padding: 10px;
}
.vali form {
    width : 50% ; 
    background-color: #2b2b2b;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.vali form label , .vali form p {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 20px  0;
}
.vali form input {
    border-radius: 2px;
    background-color: #2b2b2b;
    color: white;
}
.vali form input::-webkit-file-upload-button {
    background-color: #2b2b2b;
    color: white;
}
.vali form input::placeholder {
    color: silver;
}
.vali form input:focus {
    outline: none;
    box-shadow: none;
    background-color: #2b2b2b;
    color: white;
}
.vali form textarea {
    border: solid 1px white;
    background-color: #2b2b2b;
    height: 250px;
    font-size: 18px;
    color: white;
    padding: 10px;
}
.vali form textarea:focus {
    outline: none;
}
.vali form #bord {
    border: solid 1px white;
    margin: 20px 0 ;
    text-align: center;
    
}
.vali form .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.vali form .logo img {
    width: 100px;
    margin: 0 20px ; 
}
.vali form .logo h1 {
    color: white;
    text-transform: uppercase;
}
.vali form #upload {
    margin-top : 20px ; 
    height : 50px  ;
    background : unset ; 
    border : solid 1px white ; 
    color : white ; 
    font-size : 18px ; 
    transition : .3s ease ;
}
.vali form #upload:hover {
    background-color: silver;
    color : black ; 
    transition : .3s ease ;
}